form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

/* First input styling */
.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  margin-bottom: 5px;
}
.input input {
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--very-light-cyan);
  text-align: end;
  border: 2px solid transparent;
  color: var(--dark-cyan);
}
.input input::placeholder {
  color: hsla(186, 14%, 56%, 0.7);
}
.input input:focus {
  border-color: var(--cyan);
  outline: none;
}

.input img {
  height: 18px;
  color: hsla(186, 14%, 56%, 0.7);
  position: absolute;
  top: 42px;
  left: 15px;
}

/* Boxes of % */
.tip {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tip label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  margin-bottom: 5px;
}

.tip__button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tip__button button,
.tip__button input {
  flex: 1;
  width: 50px;
  padding: 0.3rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.tip__button button {
  background-color: var(--dark-cyan);
  color: var(--white);
  transition: all 0.2s;
}
.tip__button button:hover {
  background-color: hsl(172, 78%, 75%);
  color: var(--dark-cyan);
}

.tip__button input {
  background-color: var(--very-light-cyan);
  color: var(--dark-cyan);
}
.tip__button input:focus {
  outline-color: var(--cyan);
}
.tip__button input::placeholder {
  color: hsla(186, 14%, 56%, 0.7);
}
